body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 247, 238);
}
#form
{
    width:40%;
    margin:auto;
    margin-top:5%;
}
#login
{
    display: block;
    padding:10px 0px 50px 0px;
    height:400px;
    background-color: #9fb0fd;
    border-radius:20px;
    position:relative;
    z-index: 1;
    text-align: center;
}
@keyframes loginanime
{
    from {height:0px;background-color: #2047f8;}
    to {height:400px;background-color: #9fb0fd;}
}

h1
{
    margin-bottom:10%;
    font-size:40px;
}
@keyframes headanime
{
    from {margin-top:0%;font-size:10px;}
    to {margin-top:5%;font-size:40px;}
}
input[type="text"],input[type="password"],input[type="email"]
{
    border:0;
    border: 2px solid black;
    outline: none;
    display: block;
    margin: auto;
    margin-top:5%;
    padding:10px;
    width:70%;
    font-size:15px;  
    border-radius:5px; 
}
input[type="submit"]
{
    border:0;
    background-color:#2e47b4;
    color:white;
    display:block;
    margin:50px auto;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    padding: 14px 35px;
    border-radius:24px;
    transition:background-color 0.3s, color 0.3s;
    cursor: pointer;
}
input[type="submit"]:hover
{
    background-color:#3e57c4ee;

}
@keyframes inputanime
{
    from {margin:unset;margin-top:0;padding:0px;width:0%;font-size:5px;border-radius:0px; }
    to {margin: auto;margin-top:5%;padding:10px;width:70%;font-size:15px;border-radius:5px; }
}
@keyframes btnanime
{
    from {font-size:0px;background-color: black;}
    to {font-size:25px;background-color: #2047f8;}
}
p
{
    font-size:20px;
}
a
{
    text-decoration: none;
    color:blue;
    cursor: pointer;
}
#signup
{
    display: none;
    margin-top:2%;
    padding:10px 0px 60px 0px;
    height:460px;
    background-color: #9fb0fd;
    border-radius:20px;
    position:relative;
    z-index: 1;
    text-align: center;
}
@keyframes signupanime
{
    from {height:0px;background-color: #2047f8;}
    to {height:460px;background-color: #9fb0fd;}
}
@media (max-width:575px)
{
    #form
    {
        width:100%;
    }
}
@media (min-width:576px) and (max-width:767px)
{
    #form
    {
        width:80%;
    }
}
@media (min-width:768px) and (max-width:991px)
{
    #form
    {
        width:60%;
    }
}